#### In this Video We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [61]:
from pyspark.sql import SparkSession

In [62]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [63]:
spark

In [64]:
# reading dataframe with infering the schema directly to dataframe

df_pyspark = spark.read.option("header","true").csv("test1.csv", inferSchema = True)

In [65]:
# dataframe overview + printing out schema of our df_pyspark

df_pyspark.show()
df_pyspark.printSchema()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [66]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [67]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [68]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [69]:
df_pyspark.head(2)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000)]

In [70]:
df_pyspark.show(2)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+
only showing top 2 rows

In [71]:
df_pyspark.select(["Name","Salary"]).show(3)
df_pyspark.select(["Name","Salary"]).printSchema()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
|    Sunny| 20000|
+---------+------+
only showing top 3 rows

root
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [72]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [73]:
df_pyspark['Name']

Column<'Name'>

In [74]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [75]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [76]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [77]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [78]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [79]:
from pyspark.sql.functions import col

In [80]:
df_pyspark = df_pyspark.withColumn("Age + 5", df_pyspark["age"]+5)
df_pyspark.show()

+---------+---+----------+------+-----------------------+-------+
|     Name|age|Experience|Salary|Experience After 2 year|Age + 5|
+---------+---+----------+------+-----------------------+-------+
|    Krish| 31|        10| 30000|                     12|     36|
|Sudhanshu| 30|         8| 25000|                     10|     35|
|    Sunny| 29|         4| 20000|                      6|     34|
|     Paul| 24|         3| 20000|                      5|     29|
|   Harsha| 21|         1| 15000|                      3|     26|
|  Shubham| 23|         2| 18000|                      4|     28|
+---------+---+----------+------+-----------------------+-------+

In [81]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [82]:
df_pyspark.show()

+---------+---+----------+------+-------+
|     Name|age|Experience|Salary|Age + 5|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|     36|
|Sudhanshu| 30|         8| 25000|     35|
|    Sunny| 29|         4| 20000|     34|
|     Paul| 24|         3| 20000|     29|
|   Harsha| 21|         1| 15000|     26|
|  Shubham| 23|         2| 18000|     28|
+---------+---+----------+------+-------+

In [83]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+-------+
| New Name|age|Experience|Salary|Age + 5|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|     36|
|Sudhanshu| 30|         8| 25000|     35|
|    Sunny| 29|         4| 20000|     34|
|     Paul| 24|         3| 20000|     29|
|   Harsha| 21|         1| 15000|     26|
|  Shubham| 23|         2| 18000|     28|
+---------+---+----------+------+-------+

In [84]:
if spark:
    spark.stop()