In [2]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Tutorial_4_personal").getOrCreate()

25/06/16 08:12:43 WARN Utils: Your hostname, MacBook-Air-Eryk.local resolves to a loopback address: 127.0.0.1; using 192.168.100.106 instead (on interface en0)
25/06/16 08:12:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/16 08:12:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [10]:
df_pyspark = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [11]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

# Filter Operations

In [ ]:
df_pyspark.filter("Salary<=25000").show() ##entire dataframe

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [17]:
df_pyspark.filter("Salary<=25000").select("Name").show() ##only specified columns in select statement

+---------+
|     Name|
+---------+
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [19]:
df_pyspark.filter(df_pyspark["Salary"]<=25000).show() # another way to filter

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [24]:
df_pyspark.filter( (df_pyspark["Salary"]<=18000) & (df_pyspark["Salary"]>=15000) ).show() # two conditions in filtering

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [34]:
## NOT operations --> ~df 

df_pyspark.filter(~(df_pyspark["Salary"]==15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [36]:
if spark:
    spark.stop()