#### In this Video We will Cover
- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

25/06/15 20:02:00 WARN Utils: Your hostname, MacBook-Air-Eryk.local resolves to a loopback address: 127.0.0.1; using 192.168.100.106 instead (on interface en0)
25/06/15 20:02:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/15 20:02:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

In [10]:
spark_df = spark.read.csv("test1.csv", header=True, inferSchema=True)
spark_df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [12]:
spark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [14]:
df_pyspark = spark_df

In [15]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(2)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000)]

In [18]:
df_pyspark.show(2)

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+
only showing top 2 rows

In [19]:
df_pyspark.select(["Name","Salary"]).show(3)
df_pyspark.select(["Name","Salary"]).printSchema()

+---------+------+
|     Name|Salary|
+---------+------+
|    Krish| 30000|
|Sudhanshu| 25000|
|    Sunny| 20000|
+---------+------+
only showing top 3 rows

root
 |-- Name: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [72]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

In [73]:
df_pyspark['Name']

Column<'Name'>

In [20]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [22]:
df_pyspark.describe().show()

25/06/15 20:06:36 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [24]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [25]:
df_pyspark.show()

+---------+---+----------+------+-----------------------+
|     Name|age|Experience|Salary|Experience After 2 year|
+---------+---+----------+------+-----------------------+
|    Krish| 31|        10| 30000|                     12|
|Sudhanshu| 30|         8| 25000|                     10|
|    Sunny| 29|         4| 20000|                      6|
|     Paul| 24|         3| 20000|                      5|
|   Harsha| 21|         1| 15000|                      3|
|  Shubham| 23|         2| 18000|                      4|
+---------+---+----------+------+-----------------------+

In [28]:
df_pyspark = df_pyspark.withColumn("Age + 5", df_pyspark["age"]+5)
df_pyspark.show()

+---------+---+----------+------+-----------------------+-------+
|     Name|age|Experience|Salary|Experience After 2 year|Age + 5|
+---------+---+----------+------+-----------------------+-------+
|    Krish| 31|        10| 30000|                     12|     36|
|Sudhanshu| 30|         8| 25000|                     10|     35|
|    Sunny| 29|         4| 20000|                      6|     34|
|     Paul| 24|         3| 20000|                      5|     29|
|   Harsha| 21|         1| 15000|                      3|     26|
|  Shubham| 23|         2| 18000|                      4|     28|
+---------+---+----------+------+-----------------------+-------+

In [29]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [30]:
df_pyspark.show()

+---------+---+----------+------+-------+
|     Name|age|Experience|Salary|Age + 5|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|     36|
|Sudhanshu| 30|         8| 25000|     35|
|    Sunny| 29|         4| 20000|     34|
|     Paul| 24|         3| 20000|     29|
|   Harsha| 21|         1| 15000|     26|
|  Shubham| 23|         2| 18000|     28|
+---------+---+----------+------+-------+

In [31]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+---------+---+----------+------+-------+
| New Name|age|Experience|Salary|Age + 5|
+---------+---+----------+------+-------+
|    Krish| 31|        10| 30000|     36|
|Sudhanshu| 30|         8| 25000|     35|
|    Sunny| 29|         4| 20000|     34|
|     Paul| 24|         3| 20000|     29|
|   Harsha| 21|         1| 15000|     26|
|  Shubham| 23|         2| 18000|     28|
+---------+---+----------+------+-------+

In [32]:
if spark:
    spark.stop()